:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


.seat-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 600px;
}
.seat-ul .seat-btn {
  background-color: #f6f6f6;
  border: 1px solid #a0a0a0;
  color: black;
  width: 40px;
  height: 35px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  font-size: 13px;
  min-height: unset;
}
.seat-ul .seat-btn:hover {
  background-color: #f1f1f1 !important;
  color: black !important;
}
.seat-ul .seat-btn.selected {
  border-color: #02a802 !important;;
  background-color: #02a802 !important;;
  color: #fff !important;;
}
.seat-ul .seat-btn.booked {
  background-color: #ddd !important;;
  color: #999 !important;;
  border-color: #ddd !important;;
  cursor: not-allowed;
}


