# Ignore node_modules in both client and server
/client/node_modules/
/server/node_modules/
# Ignore .env in both client and server
/client/.env
/server/.env

# Ignore .DS_Store files (macOS specific)
.DS_Store